/* Navbar */
.sidebar {
    height: 100vh;
    width: 50vh;
    background-color: rgb(12, 172, 221);
}

.active{
    font-size: 30px;
}

.nav-item a{
    color: white;
    padding-top: 25px;
}

/* Main Page */
.row .col-sm-3{
    padding-top: 200px;
}

.col-sm-9{
    padding-top: 160px;
}